Repository 1673beta/cherrypick, pull requests merged in 2024-03, with the labels that each got.

#1 Release: engawa-0.1.0
  CHANGELOG_engawa.md
  package.json
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/server/api/endpoints/gallery/posts/update.ts
  packages/backend/src/server/api/endpoints/i/update.ts
  packages/cherrypick-js/package.json
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/admin/roles.vue
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#5 Release: engawa 0.1.1
  .github/ISSUE_TEMPLATE/01_bug-report.yml
  .github/ISSUE_TEMPLATE/02_feature-request.yml
  CHANGELOG_engawa.md
  locales/ja-JP.yml
  package.json
  packages/cherrypick-js/package.json
Labels: packages/cherrypick-js

#8 Media timeline
  .devcontainer/devcontainer.yml
  CHANGELOG_engawa.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/api/stream/ChannelsService.ts
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#9 Release: 0.2.0
  .devcontainer/devcontainer.yml
  CHANGELOG_engawa.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/src/core/activitypub/ApInboxService.ts
  packages/backend/src/server/api/stream/ChannelsService.ts
  packages/cherrypick-js/package.json
  packages/frontend/src/components/MkTimeline.vue
  packages/frontend/src/pages/timeline.vue
  packages/frontend/src/store.ts
  packages/frontend/src/ui/deck/deck-store.ts
  packages/frontend/src/ui/deck/tl-column.vue
  packages/frontend/src/widgets/WidgetTimeline.vue
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#15 Show ownself status page
  .devcontainer/devcontainer.yml
  CHANGELOG_engawa.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/migration/1710210658917-AddSomeUrl.js
  packages/backend/src/models/Meta.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/settings.vue
Labels: packages/backend, packages/frontend

#16 A bit of improvements 20240312
  CHANGELOG_engawa.md
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/const.ts
  packages/frontend/src/pages/admin/update.vue
Labels: packages/backend, packages/frontend

#20 Scheduled note delete
  locales/index.d.ts
  packages/backend/migration/1710383352620-ScheduledDeleteNote.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/Note.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/processors/ScheduledNoteDeleteService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkScheduledNoteDeleteEditor.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/backend, packages/frontend

#21 Release: 0.3.0
  .devcontainer/devcontainer.yml
  CHANGELOG_engawa.md
  locales/en-US.yml
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/migration/1710210658917-AddSomeUrl.js
  packages/backend/migration/1710383352620-ScheduledDeleteNote.js
  packages/backend/src/const.ts
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/Meta.ts
  packages/backend/src/models/Note.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/processors/ScheduledNoteDeleteService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/NodeinfoServerService.ts
  packages/backend/src/server/api/endpoints/admin/meta.ts
  packages/backend/src/server/api/endpoints/admin/update-meta.ts
  packages/backend/src/server/api/endpoints/meta.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/cherrypick-js/package.json
  packages/cherrypick-js/src/autogen/types.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkScheduledNoteDeleteEditor.vue
  packages/frontend/src/pages/about.vue
  packages/frontend/src/pages/admin/settings.vue
  packages/frontend/src/pages/admin/update.vue
  packages/frontend/src/ui/_common_/common.ts
Labels: packages/backend, packages/frontend, packages/cherrypick-js

#22 delete scheduled note delete
  packages/backend/migration/1710383352620-ScheduledDeleteNote.js
  packages/backend/src/core/NoteCreateService.ts
  packages/backend/src/core/QueueModule.ts
  packages/backend/src/core/QueueService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/models/Note.ts
  packages/backend/src/models/json-schema/note.ts
  packages/backend/src/queue/QueueProcessorModule.ts
  packages/backend/src/queue/QueueProcessorService.ts
  packages/backend/src/queue/const.ts
  packages/backend/src/queue/processors/ScheduledNoteDeleteService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/endpoints/notes/create.ts
  packages/backend/src/server/web/ClientServerService.ts
  packages/frontend/src/components/MkPostForm.vue
  packages/frontend/src/components/MkScheduledNoteDeleteEditor.vue
Labels: packages/backend, packages/frontend

#30 Mfm cheat sheat fix
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/core/activitypub/models/ApPersonService.ts
  packages/frontend/src/pages/mfm-cheat-sheet.vue
Labels: packages/backend, packages/frontend

#36 Fix:高度な検索のビルドを通るようにしていろいろ
  locales/ja-JP.yml
  packages/frontend/src/pages/admin/roles.editor.vue
  packages/frontend/src/pages/mfm-cheat-sheet.vue
  packages/frontend/src/pages/search.note.vue
Labels: packages/backend, packages/frontend
